---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Our Investment Program"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
		<b>Our Platform Portfolio Construction​</b>
			</p>
			<p>
				Our Universe of Assets:​ Identifying the wellbeing investments from the Universe of Alternative Investments available to private capital & family offices in New York​
			</p>
<p> Definition: ESG 'like' allocation criteria which would be focused on a reimagined set of profitability metrics that center human wellness holistically (this would target sectors in a Venn diagram that are likely to grow with automation etc.)</p>
<p> 
</p>
<p><img src=https://static.wixstatic.com/media/ed128e_c806dd966a6148aa8bc116b73413eef8~mv2.png/v1/fill/w_770,h_480,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/Picture2.png></p>

			<p>For private equity, I am considering several anchor investments in Wellness/Medical space possibly centered around</p>
			<ul>
				<li>* Patient Engagement Healthcare AI to be the precision health operating system</li>
				<li>* Augmented by Health Media, Telehealth and Real Estate Assets</li>
				<li>* Partner with existing PE Funds & Teams</li>
				<li>* AI XR VR Assets that complement in VC, PE, IP</li>
				<li>* Additional assets / tranches that comply with our ESG 'adjacent' allocation</li>
			</ul>
			<p>
				Our Approach allows ESG and Non-ESG Investors to take advantage of the growth sectors of the future. 
			</p>
			<p>
				At the Same time, we are planning for a long term multi-asset fund that captures alpha across strategies that comply with a values based investment approach partnering with top Traders, Hedge Fund GPs & Allocation Talent in NYC LON DXB TOK
			</p>
			<ul>
				<li>* This targets a Standard and Fractal Portfolio Focused on capturing short term trends & ultra-long term patterns</li>
				<li>* Fractal portfolio : Stocks, Volatility, Income, Trend  </li>
				<li>* Standard portfolio : US Stocks, Cash, Gold, Long Term Treasury</li>
				<li>* Private equity : ultra-long term wellbeing investments </li>
</Layout>
