---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			Create html bullet text that explains Venfix is an investment platform focused on Mentorship that provides the following services in a medical wellness membership

Based on four pillars: insurance management, media assets, protocol practitioner mentorship and AI Product Referrals 
| VIP Medical Tourism |
| Personal Optimization |
| Psychedelics Counselling |
Product Rrcommenda
Medical Wellness Funds
Addiction Management
Second Opinions
Short Term Rentals
Intellectual Property
Practitioner Business Plans

<ul>
  <li>
    <strong>Venfix</strong> is an investment platform centered on <strong>Precision Mentorship</strong>, delivering a comprehensive medical wellness membership based on four pillars:
    <ul>
      <li>Insurance Management</li>
      <li>Media Assets</li>
      <li>Protocol Practitioner Mentorship</li>
      <li>AI Product Referrals</li>
    </ul>
  </li>
  <li>
    <strong>Key services offered:</strong>
    <ul>
      <li>VIP Medical Tourism</li>
<li> Concierge Medicine</>
      <li>Personal Optimization</li>
      <li>Psychedelics Counselling</li>
      <li>Product Recommendations</li>
      <li>Medical Wellness Funds</li>
      <li>Addiction Management</li>
      <li>Second Opinions</li>
      <li>Short Term Rentals</li>
      <li>Intellectual Property</li>
      <li>Practitioner Business Plans</li>
    </ul>
  </li>
</ul>


		</main>
		<Footer />
	</body>
</html>
